API_ID      # application ID, obtain at https://my.telegram.org/auth?to=apps
API_HASH    # application hash, obtain at https://my.telegram.org/auth?to=apps

BOT_TOKEN   # bot token, obtain via @BotFather

REDIS_HOST  # redis instance (default: redis)
REDIS_PORT  # redis port (default: 6379)

## optional vars
# CHECK_ONLY_FORWARDED_MESSAGES   # store and check only messages forwarded from another chats, default: True
# CHECK_LINKS                     # store and check messages containing URLs, default: True
# DUPLICATE_SIMILARITY_THRESHOLD  # default: 0.5
# MESSAGE_LENGTH_WORDS_THRESHOLD  # message should be longer than this value, default: 10
# RECENT_MESSAGES_AMOUNT          # compare to this amount of recent messages, default: 50
# SELF_DESTRUCTION_MULTIPLIER     # wait 5x this value before delete warning message, default: 5
